body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Bulma Modification */
.navbar{
  -webkit-box-shadow: 0px 0px 14px 0px rgba(224,220,224,1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(224,220,224,1);
  box-shadow: 0px 0px 14px 0px rgba(224,220,224,1);
  margin-bottom: 10px;
}
.navbar .column{
  line-height: 52px;
}
.card-header{
  background-color: #06D1B2;
  color: white;
}
.card-header-title{
  color:white;
}
.card-content{
  padding: 10px;
}
.card{
  margin-bottom: 10px;
}


/* Own Classes */
.lists {
  padding: 10px;
  border: 1px solid lightgrey;
  border-bottom: none;
  min-height: calc(100vh - 76px);
}
.bottomLeft{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: white;
  margin: 10px;
}
.custom-card{
  border: 1px solid rgba(224,220,224,1);
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(224,220,224,1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(224,220,224,1);
  box-shadow: 0px 0px 14px 0px rgba(224,220,224,1);
}
.close-button{
  margin: 10px;
}
.pointer{
  cursor: pointer;
}
